body {
    background-color: #f8f9fa;
}

.navbar {
    background: rgb(62, 145, 255);
    color: white;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #dcdcdc !important;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.cart-item img {
    height: 150px;
    object-fit: cover;
}

h1, h2 {
    text-align: center;
    color: #343a40;
}
